{% extends "base-days.twig" %}
{% block content %}
{% set code = 'de' %}
{% set months = fetch2("https://daysapi.com/api/v2/public_calendar" ) %}

{#
m, weeks:{
    "m": 1,
    "wn": 1,
    "week": [
      {
        "dt": "2024-01-01",
        "d": 1,
        "m": 1,
        "y": 2024,
        "dow_int": 0,
        "dow_str": "Monday",
        "wn": 1
      },
#}

{% for month in months %}
    <table class="table" title="{{month.m}}">
    <thead>
        <tr>
            <th scope="col">Week#</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
        </tr>
    </thead>
    <tbody>
    
        {% for week in month.weeks %}
       -w-{{week}}-e
        <tr>
            {% for day in week %}
            <td>{{day.d}}</td>
            
            {% endfor %} 
        </tr>
        {% endfor %} 

    </tbody>
    </table>
{% endfor %} 

{% endblock %}
