{% extends "base-days.twig" %}
{% block content %}
{% set code = 'de' %}
{% set months = fetch2("https://daysapi.com/api/v2/public_calendar" ) %}

{#
m, weeks:[
  {
    "m": 1,
    "wn": 1,
    "week": [
      {
        "dt": "2024-01-01",
        "d": 1,
        "m": 1,
        "y": 2024,
        "dow_int": 0,
        "dow_str": "Monday",
        "wn": 1
      },
xs,sm,m,lg,xl
#}

<div class="row" style="overflow: auto;">    
    {% for month in months %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" >
            <div class="card mb-3">
                <div class="card-header">
                    {{month.m_str}}
                </div>
                <div class="card-body">

                    <table class="table table-borderless table-sm">
                    <thead>
                        <tr class="table-secondary text-muted">
                            <td scope="col" title="Week number">W#</td>
                            <td scope="col" title="Monday">M</td>
                            <td scope="col" title="Tuesday">T</td>
                            <td scope="col" title="Wednesday">W</td>
                            <td scope="col" title="Thursday">T</td>
                            <td scope="col" title="Friday">F</td>
                            <td scope="col" title="Saturday">S</td>
                            <td scope="col" title="Sunday">S</td>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for weekz in month.weeks %}
                    {#{weekz | json_encode(constant('JSON_PRETTY_PRINT'))}#}
                        <tr>
                            <th class="table-secondary">{{weekz.wn}}</th>
                            {% for day in weekz.week %}
                            <td>{{day.d}}</td>
                            
                            {% endfor %} 
                        </tr>
                        {% endfor %} 

                    </tbody>
                    </table>
                </div>
            </div>            
        </div>     
    {% endfor %} 
</div> 
{% endblock %}
