<head>
  <script type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js">
  </script>
</head>
            
          
PLUG
            
<body>
  <div id="player"></div>
  <script>
   //var player = new Clappr.Player({source: "https://orf-live.ors-shoutcast.at/fm4-q2a", parentId: "#player"});

    var player3 = new Clappr.Player({
        events: {
                onStop:  function() { setTimeout(() => player3.play(), 0) },
                onError:  function() { setTimeout(() => player3.play(), 0) },
                onEnded:  function() { setTimeout(() => player3.play(), 0) }
        },      
        source: "https://orf-live.ors-shoutcast.at/fm4-q2a", 
        width: 320,
        height: 180,
        autoPlay: true,
        actualLiveTime: true,   
        parentId: "#player"});
    </script
</body>
            
