<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
            
<body>
<button onclick="location.reload()">Refresh</button>
<audio src="https://orf-live.ors-shoutcast.at/fm4-q2a" controls="controls" autoplay>
not supported?
</audio>
<script>
const audio = document.querySelector("audio");

audio.audioTrackList.onaddtrack = (event) => {
  console.log('onaddtrack', event.track);
};

audio.addEventListener("stalled", (event) => {
  console.log("stalled");
});

audio.addEventListener("suspend", (event) => {
  console.log("suspend");
});

</script>
</body>
            
