<head>

</head>
            
<body>
<audio src="https://orf-live.ors-shoutcast.at/fm4-q2a" controls="controls">
not supported?
</audio>
<script>
const audio = document.querySelector("audio");

audio.audioTrackList.onaddtrack = (event) => {
  console.log('onaddtrack', event.track);
};

audio.addEventListener("stalled", (event) => {
  console.log("stalled");
});

audio.addEventListener("suspend", (event) => {
  console.log("suspend");
});

</script>
</body>
            
