<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
            
<body>

<video src="https://orf-live.ors-shoutcast.at/fm4-q2a" controls="controls" autoplay id="audio">
not supported?
</video>
<script>
const audio = document.querySelector("audio");

audio.addEventListener("stalled", (event) => {
  console.log("stalled");
});

audio.addEventListener("suspend", (event) => {
  console.log("suspend");
});

</script>
</body>
            
