{% extends "base-days.twig" %}
{% block content %}

{% set Oglas = fetch2("https://daysapi.com/api/v2/public_countries") %}
<h2>Counties</h2>
<div>
  <table class="table table-striped" style="width:100%">
  <tr>
    <td>id</td>
    <td>Naslov</td>
  </tr>
  {% for item in Oglas %}
  <tr>
    <td> {{item.code}} </td>
    <td> {{item.name}} </td>
  </tr>
  {% endfor %}
  </table>
</div>
